canvas{
 background: transparent;

}

html{
    overflow: hidden;
}


.gameover{
    height: 100vh;
    background-color: rgba(255, 0, 0, 0.5);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 22;
    width: 100%;
    text-align: center;
}

.startPage{
    height: 100vh;
    background-image: url(./image/title.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 23;
    width: 100%;
    text-align: center;
}

.start__wrapper{
    position: absolute;
    bottom: 5%;
    width: 100%;
    text-align: center;
}

.start{
    font-family: monospace;
    display: inline-block;
    border: 1px solid;
    background-color: #ffb888;
    padding: 15px;
    width: 80%;
    font-size: 20px;
}

.gameover:after{
    content: "";
    height: 100%;
    display: inline-block;
    vertical-align: middle;
}

.gameover .info{
    font-family: monospace;
    display: inline-block;
    vertical-align: middle;
}

.gameover h1{
    font-family: monospace;
    font-size: 50px;
}


.infoScore{
    font-size: 20px;
    text-align: center;
}

.infoScore span{
    display: inline-block;
    vertical-align: middle;
}

canvas{
    z-index: 1 !important;
}

.bg__wrapper{
    width: 360px;
    height: 640px;
    position: absolute;
    overflow: hidden;
    left: 0;
    top: 0;
}